*{
    font-size: 18px;
}

body{
background-color: rgb(39, 39, 39);
}
.navigation{
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}



.search{
    width: 27vw;
    border-bottom-right-radius: 20px ;
    border-top-right-radius: 20px ;
    outline: none;
    height: 30px;
    border: 1px solid black;
    border-left: 0px;
}

.links{
    text-decoration: none;
    color: orange;
}

.searchIcon{
    margin-left: 300px;
    outline: none;
    width: 1.5vw;
    box-sizing: border-box;
    border: 1px solid white;
    border-bottom-left-radius: 20px ;
    border-top-left-radius: 20px ;
    background-color: white;
    height: 32px;
    border-right: 0px;
    padding-top: 5px;
    padding-left: 5px;
}

#sneak-multi{
    width: max-content;
}

h1{
    color: #F22626;
    font-size: 37px;
}
#sneakheat-img{
    margin-left: 15%;
}
p{
    font-size: 25px;
    color: #FF9830;
}
.main{
    text-align: justify;
    padding-left: 320px;
    margin-bottom: 300px;
}

.up{
    color: orange;
    margin-left: 40%;
    font-size: 22px;

}
#shopIcon{
    color: #FF9830;
  
}