*{
    font-size: 18px;
}

body{
background-color: rgb(39, 39, 39);
font-family: 'Inter', sans-serif;
}
.navigation{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#userIcon{
    margin-right: 20px;
    
}
#contactLink{
    margin-right: 100px;
}
#input{
    height: 40px;
}

.search{
    width: 518px;
    border-bottom-right-radius: 20px ;
    border-top-right-radius: 20px ;
    outline: none;
    height: 30px;
    border: 1px solid black;
    border-left: 0px;
    padding-right: 150px;
    
    
}

.links{
    text-decoration: none;
    color: orange;
}

.searchIcon{
    margin-left: 300px;
    outline: none;
    width: 25px;
    box-sizing: border-box;
    border: 1px solid white;
    border-bottom-left-radius: 20px ;
    border-top-left-radius: 20px ;
    background-color: white;
    height: 42px;
    border-right: 0px;
    padding-top: 10px;
    padding-left: 5px;
}

h1{
    color: #F22626;
    font-size: 60px;
    font-weight: bold;
    margin-left: 20px;
}
.main{
    text-align: start;

}

.up{
    color: orange;
    margin-left: 40%;
    font-size: 22px;
    padding-bottom: 5%;
}
#shopIcon{
    color: #FF9830;
  
}
li{
    color: #FF9830;
}

p{
    margin-left: 30px;
}


td{
    color: #FF9830;
    margin-left: 90x;
}
.reseau{
 display: flex;
flex-direction: row;
}

#insta{
   color: blue;
}

.socialLogos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px
}

.socialLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.socialLogo img{
    width: 150px;
    height: 150px;
}

.form{
    width:50vw;
    height: 450px;
    background:#FF9830;
    display: flex;
    flex-direction: column;
    gap:10px;
    border-radius: 20px;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 30%;
    padding-top: 30px;
}

.form h1{
    text-align: center;
}

.form div{
    text-align: center;
}

.inputs{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    
}

.inputs div{
    font-weight: 800;
    text-align: start;
}

.inputs input, .inputs select{
    width:150px;
}

.formLable{
    text-align: center;
    font-weight: 800;
}

.form button{
    width: 130px;
    padding: 8px;
    border-radius: 10px;
    background: #393939;
    color:white;
    outline: none;
    border: 0px;
    margin-left: 40%;
    transition-duration: 0.2s;
    cursor: pointer;

}

.form button:hover{
    background: #F22626;
}