*{
    font-size: 18px;
}

body{
background-color: rgb(39, 39, 39);
font-family: 'Inter', sans-serif;
}
.navigation{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#userIcon{
    margin-right: 20px;
    
}
#contactLink{
    margin-right: 100px;
}
#input{
    height: 40px;
}

.search{
    width: 518px;
    border-bottom-right-radius: 20px ;
    border-top-right-radius: 20px ;
    outline: none;
    height: 30px;
    border: 1px solid black;
    border-left: 0px;
    padding-right: 150px;
    
    
}

.links{
    text-decoration: none;
    color: orange;
}

.searchIcon{
    margin-left: 300px;
    outline: none;
    width: 25px;
    box-sizing: border-box;
    border: 1px solid white;
    border-bottom-left-radius: 20px ;
    border-top-left-radius: 20px ;
    background-color: white;
    height: 42px;
    border-right: 0px;
    padding-top: 10px;
    padding-left: 5px;
}

h1{
    color: #F22626;
    font-size: 60px;
    font-weight: bold;
    margin-left: 20px;
}
.main{
    text-align: start;

}

.up{
    color: orange;
    margin-left: 40%;
    font-size: 22px;
    padding-bottom: 5%;
}
#shopIcon{
    color: #FF9830;
  
}
li{
    color: #FF9830;
}
#facebook{
    width: 150px;
    height: 150px;
}
#instagram{
    margin-left: 30px;
    width: 150px;
    height: 150px;
}
#youtube{
    margin-left: 30px;
    width: 150px;
    height: 150px;
}
#twiter{
    margin-left: 30px;
    width: 150px;
    height: 150px;
}
p{
    margin-left: 30px;
}


td{
    color: #FF9830;
    margin-left: 90x;
}
.reseau{
 display: flex;
flex-direction: row;
}

#insta{
   color: blue;
}

